# Default ignored files
/../../Hybrid-Search-BM25-fallback./.idea/shelf/
/../../Hybrid-Search-BM25-fallback./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Hybrid-Search-BM25-fallback./.idea/httpRequests/
